* {
  margin: 0;
  padding: 0;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

.box {
  width: 15%;
  margin: 50px;
  float: right;
  padding: 20px;
  background-color: aquamarine;
}
