* {
  margin: 0;
  padding: 0;
}

.asideBlogMain {
  display: flex;
  justify-content: center;
}

.containerAsideBlog {
  width: 95%;
  position: sticky;
  top: 20px;
  float: right;
  border-radius: 5px;
}

.blogImagesAsideBlog {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

.blogBoxAsideBlog {
  margin: 20px auto;
  padding: 20px;
  text-align: justify;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: 1px solid rgb(158, 158, 158);
  background-color: rgb(0, 41, 67);
  transition: 0.3s;
}

.blogBoxAsideBlog:hover {
  transform: scale(1.02);
  background-color: white;
}

.blogBoxAsideBlog:hover p,
.blogBoxAsideBlog:hover section,
.blogBoxAsideBlog:hover h4 {
  color: rgb(0, 41, 67);
}

.blogBoxAsideBlog:hover a {
  color: rgb(0, 41, 67);
}

.blogBoxAsideBlog a {
  text-decoration: none;
}

.blogBoxAsideBlog p,
.blogBoxAsideBlog section,
.blogBoxAsideBlog h4 {
  margin-top: 10px;
  color: white;
}

.fa-arrow-right {
  margin-left: 10px;
  color: green;
}
