* {
  margin: 0;
  padding: 0;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

.secondaryFont {
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
}

.leftMain {
  width: 75%;
}

.rightMain {
  width: 25%;
}

.blogBox {
  width: 90%;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.blogBox:hover {
  transform: scale(1.02);
}

.blogImages {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  max-height: 350px;
  object-fit: cover;
}

.blogBox a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-around;
}

.blogBox div {
  width: 30%;
  text-align: justify;
  position: relative;
}

.blogBox p,
.blogBox h4,
.blogBox section {
  margin: 10px 30px;
}

.blogBox p {
  position: absolute;
  bottom: 25%;
}

.fa-arrow-right {
  margin-left: 10px;
  color: green;
  transition: 0.2s;
}

.fa-arrow-right:hover {
  margin-left: 15px;
}

.pagination {
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination a {
  color: black;
  float: left;
  padding: 13px 26px;
  text-decoration: none;
}

.pagination a.active {
  background-color: rgb(0, 41, 67);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.rightMain {
  color: white;
}

#asideBlog {
  position: sticky;
  top: 10px;
  color: white;
}

@media screen and (max-width: 1100px) {
  .blogBox {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .rightMain {
    display: none;
  }

  main {
    justify-content: center;
  }

  section {
    display: none;
  }
}
