* {
  margin: 0;
  padding: 0;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

.mainColor {
  background-color: rgb(233, 247, 255);
}

.checkoutContainer {
  margin: 50px auto;
  padding: 10px;
  font-size: 4rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.rowData {
  color: rgb(0, 41, 67);
  text-align: justify;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 10px;
  font-size: 1.1rem;
  width: 100%;
}

.left,
.right {
  margin: 0 3vw;
}

.right,
.left {
  width: 100%;
}

.row input {
  font-size: 1.2rem;
  padding: 15px;
  width: 100%;
  margin: 20px 10vw 20px 0;
  border-radius: 5px;
  border: none;
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.info span {
  width: 25%;
}

.checkoutProducts {
  margin: 5px 10px 20px 10px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutProducts div {
  width: 25%;
}

.checkoutProducts div:not(:first-of-type) {
  margin-bottom: 30px;
}

.right .checkoutProducts:nth-of-type(2) {
  border-top: 1px solid black;
}

.checkoutProducts span {
  font-size: 1.5rem;
  justify-content: space-between;
}

.quantity {
  border-radius: 3px;
}

.counter,
.delete {
  padding: 8px;
  transition: 0.2s;
  border: none;
}

.counter:hover {
  cursor: pointer;
  background-color: rgb(164, 164, 164);
}

.fa-xmark {
  transition: 0.2s;
  color: white;
}

.fa-xmark:hover {
  cursor: pointer;
}

.delete {
  border: none;
  background-color: black;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(75, 75, 75);
  color: black;
}

.img {
  margin: 0 0;
  width: 150px;
  height: 150px;
}

.fa-xmark {
  transition: 0.2s;
  color: white;
}

.fa-xmark:hover {
  cursor: pointer;
}

.delete {
  width: 40px;
  height: 40px;
  border: none;
  background-color: black;
  line-height: 10px;
  padding: 8px;
  transition: 0.2s;
  border: none;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(75, 75, 75);
  color: black;
}

#submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: rgb(0, 41, 67);
  color: white;
  transition: 0.3s;
}

#submit:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(0, 41, 67);
  box-shadow: 1px 1px 10px rgb(143, 143, 143);
  position: relative;
  top: -1px;
}

.total {
  justify-content: center;
  font-size: 1.5rem;
  outline: 1px solid rgb(0, 41, 67);
  color: rgb(0, 41, 67);
  border-radius: 5px;
}

.total span {
  margin: 0 20px;
}

@media screen and (max-width: 1220px) {
  .info span:nth-of-type(2),
  .quantity {
    display: none;
  }
}

@media screen and (max-width: 1090px) {
  .price span {
    font-size: 1.1rem;
  }

  .price {
    margin-left: 30px;
  }
}

@media screen and (max-width: 930px) {
  .checkoutContainer {
    flex-wrap: wrap;
  }
}
