* {
  margin: 0;
  padding: 0;
  color: black;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

main {
  text-align: center;
}

.container {
  display: flex;
}

.mainRow {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.mainRow iframe {
  width: 25%;
}
.frame {
  width: 20%;
}
.frame iframe {
  width: 100%;
  height: 100%;
}
