* {
  margin: 0;
  padding: 0;
  color: black;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

.mainRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mainRow a {
  font-size: 1.1rem;
  line-height: 20px;
}

.productImages {
  width: 100%;
}

.categoryBox {
  margin: 20px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  background-color: rgb(0, 41, 67);
  width: 100%;
  padding: 15px;
}

.categoryBox:hover {
  background-color: rgb(204, 243, 242);
}

.categoryBox:hover .text,
.categoryBox:hover .oldPrice,
.categoryBox:hover .newPrice {
  color: rgb(0, 41, 67);
}
.categoryBox:hover .link {
  background-color: rgb(0, 41, 67);
}

.text,
.categoryBox span {
  color: white;
  transition: 0.1s;
}

.oldPrice {
  text-decoration: line-through;
}

.link {
  outline: 1px solid white;
  border-radius: 5px;
  padding: 5px 20px;
  transition: 0.3s;
}
