* {
  margin: 0;
  padding: 0;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

.mainFont {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  font-weight: 500;
  margin: 20px 0;
}

.firstRow,
.secondRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.firstRow a,
.secondRow a {
  width: 25%;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.box {
  height: 100%;
  padding: 50px;
  text-align: center;
}

.firstRow a:hover,
.secondRow a:hover {
  outline: 1px solid rgb(186, 186, 186);
}
.productCategoryImages {
  width: 200px;
  height: 200px;
  padding: 20px;
}

@media screen and (max-width: 1400px) {
  .firstRow a,
  .secondRow a {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .firstRow a,
  .secondRow a {
    width: 100%;
  }
}
