* {
  margin: 0;
  padding: 0;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

.title {
  font-family: "Lato", sans-serif;
  text-decoration: underline;
}

.mainFirstRow {
  text-align: center;
}

.mainFirstRow p {
  margin: 0 20vh;
  font-size: 1.3rem;
  line-height: 30px;
}

.mainFirstRow p span {
  margin: 20px 0;
  display: block;
}

.container {
  display: block;
}

.container h2 {
  margin: 0 30px;
}

.mainFirstRow,
.mainSecondRow,
.mainThirdRow,
.mainFourthRow,
.mainFifthRow {
  display: flex;
  margin-bottom: 10vh;
}

.mainThirdRow,
.mainFourthRow {
  justify-content: space-around;
}

.mainFourthRow {
  background-color: rgb(204, 243, 242);
}

.mainFifthRow {
  justify-content: center;
  background-color: rgb(0, 41, 67);
}

.productBox,
.categoryBox,
.blogBox,
.newsletterForm {
  margin: 20px 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.productBox p,
.mainThirdRow a {
  font-size: 1.1rem;
  line-height: 20px;
}

.productBox:hover {
  outline: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
}

.oldPrice {
  text-decoration: line-through;
}

.newPrice {
  font-size: 1.4rem;
}

.productImages {
  width: 80%;
  height: 65%;
  padding: 0;
}

.categoryBox {
  color: rgb(204, 243, 242);
  background-color: rgb(0, 41, 67);
  border-radius: 5px;
  transition: 0.3s;
  width: 20%;
  padding: 15px;
}

.categoryBox:hover {
  color: rgb(0, 41, 67);
  background-color: rgb(204, 243, 242);
}

.blogImages {
  width: 466px;
  height: 230px;
}

.blogBox {
  text-align: left;
  font-size: 1.2rem;
  width: 33.3333%;
  position: relative;
  transition: 0.3s;
}

.blogBox h2 {
  margin: 10px 0;
}

.blogBox p:nth-of-type(2) {
  line-height: 30px;
  vertical-align: middle;
  padding: 20px 0 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blogBox p:nth-of-type(2):hover {
  color: green;
}

.newsletterForm {
  padding: 20px;
  width: 60%;
  text-align: left;
  color: white;
}

.newsletterForm h2,
.newsletterForm h5,
.newsletterForm input {
  margin: 20px 0;
}

#email {
  padding: 16px;
  width: 60%;
  font-size: 1.2rem;
}

#submit {
  padding: 16px;
  font-size: 1.2rem;
}

.privola {
  padding: 16px;
  width: 100%;
}
