* {
  margin: 0;
  padding: 0;
}

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  background-color: sandybrown;
  flex-wrap: wrap;
}

.firstRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  margin: 50px auto;
  padding: 10px;
  background-color: lightblue;
  text-align: center;
}

.productCategoryImages {
  width: 40vw;
  height: 40vw;
  padding: 10px;
}

.leftBox img {
  display: block;
  width: 10vw;
  height: 10vw;
}

.oldPrice {
  text-decoration: line-through;
}

.options {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.select {
  width: 20%;
  padding: 20px;
  background-color: aquamarine;
}
.secondRow,
.thirdRow {
  width: 100%;
}
.thirdRow {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
}

.details {
  width: 100%;
  padding: 20px;
  background-color: aquamarine;
  position: relative;
  display: block;
  cursor: pointer;
}

.details1 {
  margin-bottom: 10px;
}

#check01,
.details1 {
  display: none;
}

/*position the label*/
#prvi label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
#check01:checked ~ .details1 {
  display: block;
}
