<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/asideProducts.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <title>Aside Blog</title>
  </head>
  <body>
    <object>
      <main>
        <div class="container">
          <form action="">
            <h3>Kategorije</h3>
            <input type="checkbox" name="tv" id="tv" />
            <label for="tv">Televizije</label>
            <br />

            <input type="checkbox" name="fridge" id="fridge" />
            <label for="fridge">Hladnjaci</label>
            <br />

            <input type="checkbox" name="dishwasher" id="dishwasher" />
            <label for="dishwasher">Perilice suđa</label>
            <br />

            <input type="checkbox" name="phone" id="phone" />
            <label for="phone">Smartphone</label>
            <br />
            <input type="checkbox" name="devices" id="devices" />
            <label for="devices">Elektronika</label>
            <br />
            <input type="checkbox" name="phone" id="phone" />
            <label for="phone">Smartphone</label>
            <br />

            <h3>Jamstvo</h3>
            <input type="checkbox" name="five" id="five" />
            <label for="five">5 godina</label>
            <br />

            <input type="checkbox" name="three" id="three" />
            <label for="three">3 godine</label>
            <br />

            <input type="checkbox" name="two" id="two" />
            <label for="two">2 godine</label>

            <h3>Brand</h3>
            <input type="checkbox" name="samsung" id="samsung" />
            <label for="samsung">Samsung</label>
            <br />

            <input type="checkbox" name="sony" id="sony" />
            <label for="sony">Sony</label>
            <br />

            <input type="checkbox" name="candy" id="candy" />
            <label for="candy">Candy</label>

            <h3>Cijena</h3>
            <input type="radio" name="price" id="price" />
            <label for="price"> < 10€</label>
            <br />

            <input type="radio" name="price" id="price2" />
            <label for="price2"> 10€ < 50€</label>
            <br />

            <input type="radio" name="price" id="price3" />
            <label for="price3"> 50€ < 100€</label>
            <br />

            <input type="radio" name="price" id="price4" />
            <label for="price4">100€ < 1000€</label>
            <br />

            <input type="radio" name="price" id="price5" />
            <label for="price5">1000€ <</label>
          </form>
        </div>
      </main>
      <script src="../js/javascript.js"></script>
    </object>
  </body>
</html>
