<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/asideProducts.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <title>Aside Products</title>
  </head>
  <body>
    <object>
      <main>
        <div class="container">
          <form action="">
              <h3>Kategorije</h3>
              <label for="tv"> <input type="checkbox" name="tv" id="tv" />Televizije </label>

              <label for="fridge">
                <input type="checkbox" name="fridge" id="fridge" />
                Hladnjaci</label
              >

              <label for="dishwasher">
                <input type="checkbox" name="dishwasher" id="dishwasher" />
                Perilice</label
              >

              <label for="devices">
                <input type="checkbox" name="devices" id="devices" />
                Elektronika</label
              >

              <label for="phone">
                <input type="checkbox" name="phone" id="phone" />
                Smartphone</label
              >
     
              <h3>Jamstvo</h3>
              <label for="five">
                <input type="checkbox" name="five" id="five" />
                5 godina</label
              >

              <label for="three">
                <input type="checkbox" name="three" id="three" />
                3 godine</label
              >

              <label for="two">
                <input type="checkbox" name="two" id="two" />
                2 godine</label
              >

              <h3>Brand</h3>
              <label for="samsung"> <input type="checkbox" name="samsung" id="samsung" /> Samsung</label>
              <label for="sony"> <input type="checkbox" name="sony" id="sony" /> Sony</label>
              <label for="candy"> <input type="checkbox" name="candy" id="candy" />Candy</label>
  
              <h3>Cijena</h3>
              <label for="price"> <input type="radio" name="price" id="price" /> < 10€</label>
              <label for="price2"> <input type="radio" name="price" id="price2" /> 10€ < 50€</label>
              <label for="price3"> <input type="radio" name="price" id="price3" /> 50€ < 100€</label>
              <label for="price4"> <input type="radio" name="price" id="price4" /> 100€ < 1000€</label>
              <label for="price5"> <input type="radio" name="price" id="price5" /> 1000€ <</label>
            </div>
          </form>
        </div>
      </main>
      <script src="../js/javascript.js"></script>
    </object>
  </body>
</html>
