<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/asideBlog.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <title>Aside Blog</title>
  </head>
  <body>
    <object>
      <main class="asideBlogMain">
        <div class="containerAsideBlog">
          <div class="blogBoxAsideBlog">
            <a target="_parent" href="../blogDetail.html">
              <img class="blogImagesAsideBlog" src="../images/rest/blogPhoto6.Webp" alt="slika perilice za blog 1" />
              <h4>Lorem ipsum dolor sit amet dolor sit amet consectetur.</h4>
              <section>
                Lorem ipsum dolor sit amet consectetur amet consectetur adipisicing elit. Nihil, facere?
                <p>
                  Više o temi<span><i class="fa-solid fa-arrow-right fa-sm"></i> </span>
                </p>
              </section>
            </a>
          </div>

          <div class="blogBoxAsideBlog">
            <a target="_parent" href="../blogDetail.html">
              <img class="blogImagesAsideBlog" src="../images/rest/blogPhoto5.Webp" alt="slika automobilskih guma za blog 2" />
              <h4>Lorem ipsum dolor dolor sit ametsit amet consectetur.?</h4>
              <section>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, labore!
                <p>
                  Više o temi<span><i class="fa-solid fa-arrow-right fa-sm"></i> </span>
                </p>
              </section>
            </a>
          </div>
        </div>
      </main>
      <script src="../js/javascript.js"></script>
    </object>
  </body>
</html>
