<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link rel="stylesheet" href="../css/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <object>
      <div class="footerContainer">
        <div class="footerFirstRow">
          <div class="footerLinks">
            <div class="products">
              <a href="../products.html">Proizvodi</a>
            </div>

            <div class="about">
              <a href="../productCategory.html">Kategorije</a>
            </div>

            <div class="about">
              <a target="none" href="../about.html">O nama</a>
            </div>

            <div class="blog">
              <a href="../blog.html">Blog</a>
            </div>

            <div class="contact">
              <a href="../contact.html">Kontakt</a>
            </div>
          </div>

          <div class="footerMap">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1250.6537648863973!2d15.924446012953757!3d43.58796579900165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13352363472199cf%3A0x48355c83caeebdb2!2zRm9udMOhbmE!5e0!3m2!1shr!2shr!4v1704267151957!5m2!1shr!2shr"
              width="500"
              height="300"
              style="border-radius: 5px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="footerInfo">
            <div class="products">
              <a class="mail-phone" href="mailto:info@webshop.com">info@webshop.com</a>
            </div>

            <div class="about">
              <a class="mail-phone" href="tel:+123456789">+12 345 6789</a>
            </div>

            <div class="about">
              <span>OIB: 01234567890</span>
            </div>

            <div class="blog">
              <span
                >Adresa: Ul. Stjepana Radića 9, <br />
                22202 - Primošten</span
              >
            </div>
          </div>
        </div>

        <div class="footerSecondRow">
          <div class="terms">
            <a target="_parent" href="../terms.html">Uvjeti poslovanja </a>
          </div>
          <span class="whitespace">&nbsp | &nbsp</span>
          <div class="privacy">
            <a target="_parent" href="../privacy.html">Pravila o privatnosti</a>
          </div>
          <span class="whitespace">&nbsp | &nbsp</span>

          <div class="cookies">
            <a target="_parent" href="../cookies.html"> Pravila o kolačićima</a>
          </div>
        </div>

        <div class="footerThirdRow">
          <a target="_parent" href="https://github.com/Lekichsaurus">Made by Lekich <i class="fa-brands fa-github fa-xl"></i></a>
        </div>
      </div>

      <script src="../js/javascript.js"></script>
    </object>
  </body>
</html>
