<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link rel="stylesheet" href="../css/header.css" />
    <title>Document</title>
  </head>
  <body>
    <object>
      <nav>
        <div class="firstRowNav">
          <div class="mail-phone-socials">
            <a class="mail-phone" href="mailto:info@webshop.com">info@webshop.com</a>

            <a class="mail-phone" href="tel:+123456789">+12 345 6789</a>

            <a href=""><i class="icons fa-brands fa-instagram"></i></a>
            <a href=""><i class="icons fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="icons fa-brands fa-linkedin-in"></i></a>
          </div>

          <div class="searchDiv">
            <form action="">
              <label for="search"></label>
              <input placeholder="Pretraži webshop " type="search" name="search" id="search" />
              <button class="searchIcon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>

          <div class="cart">
            <i class="icons fa-solid fa-cart-shopping fa-l"> CART</i>
          </div>
        </div>

        <div class="secondRowNav">
          <div class="navLinks">
            <div class="products">
              <a target="none" href="../products.html">Proizvodi</a>
            </div>

            <div class="about">
              <a target="none" href="../productCategory.html">Kategorije</a>
            </div>
          </div>

          <div class="logo">
            <a href="../index.html">
              <img
                class="logoImage"
                src="https://website-whitelabel-ecommerce-hr-production.ams3.digitaloceanspaces.com/uploads/logo-check-c9c75.png"
                alt="logo"
            /></a>
          </div>

          <div class="navLinks">
            <div class="about">
              <a target="none" href="../about.html">O nama</a>
            </div>

            <div class="blog">
              <a target="none" href="../blog.html">Blog</a>
            </div>

            <div class="contact">
              <a target="none" href="../contact.html">Kontakt</a>
            </div>
          </div>
        </div>
      </nav>

      <script src="../js/javascript.js"></script>
    </object>
  </body>
</html>
