<nav>
  <div class="firstRowNav mainColor">
    <div class="mail-phone-socials">
      <a target="_parent" class="mail-phone" href="mailto:info@webshop.com">info@webshop.com</a>

      <a target="_parent" class="mail-phone" href="tel:+123456789">+12 345 6789</a>

      <a target="_parent" href="index.html"><i class="icons fa-brands fa-instagram"></i></a>
      <a target="_parent" href="index.html"><i class="icons fa-brands fa-facebook-f"></i></a>
      <a target="_parent" href="index.html"><i class="icons fa-brands fa-linkedin-in"></i></a>
    </div>

    <div class="searchDiv">
      <form action="">
        <label for="search"></label>
        <input placeholder="Pretraži webshop " type="search" name="search" id="search" />
        <button class="searchIcon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <div class="cart">
      <a target="_parent" href="cart.html"> <i class="icons fa-solid fa-cart-shopping fa-l"> CART</i></a>
    </div>
  </div>

  <div class="secondRowNav secondaryColor">
    <div class="navLinks">
      <div class="products">
        <a target="_parent" href="products.html">Proizvodi</a>
      </div>

      <div class="about">
        <a target="_parent" href="productCategory.html">Kategorije</a>
      </div>
    </div>

    <div class="logo">
      <a target="_parent" href="index.html">
        <img
          class="logoImage"
          src="https://website-whitelabel-ecommerce-hr-production.ams3.digitaloceanspaces.com/uploads/logo-check-c9c75.png"
          alt="logo"
      /></a>
    </div>

    <div class="navLinks">
      <div class="about">
        <a target="_parent" href="about.html">O nama</a>
      </div>

      <div class="blog">
        <a target="_parent" href="blog.html">Blog</a>
      </div>

      <div class="contact">
        <a target="_parent" href="contact.html">Kontakt</a>
      </div>
    </div>
  </div>
</nav>
