<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/productCard.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <title>Product Card</title>
  </head>
  <body>
    <object>
      <main>
        <div class="container">
          <div class="mainRow">
            <a class="categoryBox" href="./productsHTML/productsTV.html">
              <img class="productImages" src="../images/products/tv/tv.jpeg" alt="slika televizije" />
              <p class="text">
                OLED TV SONY XR55A80LAEP UHD DVB-T2/S2 ANDROID
                <br />
                Stara cijena:
                <br />
                <span class="oldPrice"> 1999,90 €</span>
                <br />
                Cijena sa popustom: <br />
                <span class="newPrice">1599, 90 €</span>
              </p>
              <br />
              <span class="link">Televizije</span>
            </a>
          </div>
        </div>
      </main>
      <script src="../js/javascript.js"></script>
    </object>
  </body>
</html>
